.blog-display {
}

.blog-display pre {
  margin-bottom: 0rem;
  background-color: black;
  color: white;
}

.blog-display p {
  font-size: 1.75em !important;
}

.blog-display span {
  font-size: 1.75em !important;
}

.blog-display h1 {
  font-size: 4em !important;
}


@media (min-width: 768px) {
  .blog-display h1 {
    font-size: 2.75em !important;
  }

  .blog-display p {
    font-size: 1.1em !important;
  }

  .blog-display span {
    font-size: 1.1em !important;
  }
}
